.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
  #section0{
    background: -webkit-gradient(linear, top left, bottom left, from(#fbb3b2), to(#fdce9e));
    background: -webkit-linear-gradient(#fbb3b2, #fdce9e);
    background: linear-gradient(#fbb3b2,#fdce9e);
  }

  #section1{
    background: -webkit-gradient(linear, top left, bottom left, from(#fdce9e), to(#fbf188));
    background: -webkit-linear-gradient(#fdce9e, #fbf188);
    background: linear-gradient(#fdce9e,#fbf188);
  }
  #section2{
      background: -webkit-gradient(linear, top left, bottom left, from(#fbf188), to(#bfdefb));
      background: -webkit-linear-gradient(#fbf188, #bfdefb);
      background: linear-gradient(#fbf188,#bfdefb);
    }



  /*Adding background for the slides
  * --------------------------------------- */
  #slide1{
    background: -webkit-gradient(linear, top left, bottom left, from(#fdce9e), to(#969ac6));
    background: -webkit-linear-gradient(#fdce9e, #969AC6);
    background: linear-gradient(#fdce9e,#969AC6);
  }
  #slide2{
    background: -webkit-gradient(linear, top left, bottom left, from(#92a1ca), to(#76c2bd));
    background: -webkit-linear-gradient(#92a1ca, #76c2bd);
    background: linear-gradient(#92a1ca,#76c2bd);
  }

  a{
    font-size:1.5em;
    display:inline;
    text-decoration: none;
    color:#d500f9;
   }
  .title{
    font-size: 1.5em;
    display:inline;
    color:#ea80fc;
  }  

  .info{
    display:inline;
  }